<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
</head>
<body>
    <div id="app">

        <h3>Tienda</h3>
        <table border="1px solid black">
            <tr>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>ID</th>
                <th>Unidades disponibles</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Añadir</th>
            </tr>

            <tr v-for="producto in productos" :key="producto.id">
                <td>{{producto.cat}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.id}}</td>
                <td>{{producto.unidades}}</td>
                <td>{{producto.precio}}</td>
                <td><input v-model.trim="cantidad"/></td>
                <td><button @click="anyadir(producto)">Añadir al carrito</button></td>
            </tr>
        </table>

        <h3>Carrito</h3>
        <table border="1px solid black">
            <tr>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>ID</th>
                <th>Unidades</th>
                <th>Precio</th>
            </tr>

            <tr v-for="carrito in carritos">
                <td>{{carrito.cat}}</td>
                <td>{{carrito.nombre}}</td>
                <td>{{carrito.id}}</td>
                <td>{{carrito.unidades}}</td>
                <td>{{carrito.precio}}</td>
            </tr>
        </table>
        <button @click="vaciarCarrito">Vaciar Carrito</button>
        <button @click="recargarTienda">Recargar Tienda</button>
    </div>


    <script src="jquery.js"></script>
    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <script src="evaindi2.js"></script>
    
</body>
</html>