<template>
    <div>
      <q-input stack-label="Busqueda" v-model="busqueda"/>
      <q-input stack-label="Fecha minima de la noticia" placeholder="YYYYMMDD" v-model="fechMin"/>
      <q-input stack-label="Fecha maxima de la noticia" placeholder="YYYYMMDD" v-model="fechMax"/>
      <q-select v-model="select" float-label="Opciones" :options="selectOptions" />
      <q-btn label="Realizar busqueda" @click="buscar"/>
      <q-list>
        <q-list-header></q-list-header>
        <q-item></q-item>
      </q-list>
    </div>
</template>

<style></style>

<script>
  export default{
    name: 'aplicacion',
    data(){
      return{
        selectOptions:[
          {
            label: 'Mas modernas',
            value: ''
          },
          {
            label: 'Mas antiguas',
            value:''
          }
        ],
        busqueda:'',
        fechMin:'',
        fechMax:''
      }
    },
    methods:{
      buscar(){
        var regexp=/^[^0-9]{8}$/;
        if(this.busqueda=='' | this.fechMin=='' | this.fechMax==''){
          alert("rellena todos los campos");
        }else{
          if(regexp.test(this.fechMin) | regexp.test(this.fechMax)){
            alert("Escribe el formato de fecha correcto YYYYMMDD");
          }else{
            if(parseInt(this.fechMin)>parseInt(this.fechMax)){
              alert("La fecha minima debe ser menor a la maxima");
            }else{
              axios({
                url: 'https://api.nytimes.com/svc/search/v2/articlesearch.json?q='+this.busqueda+'&api-key=gVNNXiDiAnxoW8jMCdC8PBwTDaQFRpcA',
                method: 'get'
              })
              .then(function(response){
                console.log(response);
              })
              .catch(function(error){
                console.log(error);
              });
            }
          }
        }
      }
    }
  }
</script>
