<template>
    <div>
      <!--linkamos los campos para realizar la peticion-->
      <q-input stack-label="Busqueda" v-model="busqueda"/>
      <q-input stack-label="Fecha minima de la noticia" placeholder="YYYYMMDD" v-model="fechMin"/>
      <q-input stack-label="Fecha maxima de la noticia" placeholder="YYYYMMDD" v-model="fechMax"/>
      <q-select v-model="select" float-label="Opciones" :options="selectOptions" />
      <q-btn label="Realizar busqueda" @click="buscar"/>
      <!--mostramos resultados en una lista , haciendo un v-for para cada noticia-->
      <q-list>
        <q-list-header>Noticias encontradas</q-list-header>
        <q-item v-for="noticia in noticias" :key="noticia._id">
          <q-item-tile>{{noticia.pub_date}}</q-item-tile>
          <q-item-main>{{noticia.web_url}}  {{noticia.lead_paragraph}}</q-item-main>
          <q-item-separator></q-item-separator>
        </q-item>
      </q-list>
    </div>
</template>

<style></style>

<script>

import axios from 'axios'

  export default{
    name: 'PageIndex',
    data(){
      return{
        selectOptions:[
          {
            label: 'Mas modernas',
            value: 'newest'
          },
          {
            label: 'Mas antiguas',
            value:'oldest'
          }
        ],
        select:'',
        busqueda:'',
        fechMin:'',
        fechMax:'',
        header:'',
        item:'',
        noticias:[]
      }
    },
    methods:{
      buscar(){
        //expresion regular,8 numeros
        var regexp=/^[0-9]{8}$/;
        //si hay campos vacios
        if(this.busqueda=='' | this.fechMin=='' | this.fechMax==''){
          alert("rellena todos los campos");
        }else{
          //si las fechas no contienen 8 numeros
          if(!regexp.test(this.fechMin) | !regexp.test(this.fechMax)){
            alert("Escribe el formato de fecha correcto YYYYMMDD, solo numeros");
          }else{
            //si las fechas no van en orden
            if(parseInt(this.fechMin)>parseInt(this.fechMax)){
              alert("La fecha minima debe ser menor a la maxima");
            }else{
              //realizamos la peticion axios con los parametros en la query, los que permite la API
              axios({
                url: 'https://api.nytimes.com/svc/search/v2/articlesearch.json?q='+this.busqueda+'&begin_date='+this.fechMin+'&end_date='+this.fechMax+'&sort='+this.select+'&api-key=gVNNXiDiAnxoW8jMCdC8PBwTDaQFRpcA',
                method: 'get'
              })
              .then((response)=>{
                //cogemos la respuesta en nuestro array para visualizarlo.
                this.noticias = response.data.response.docs;

                console.log(response.data.response.docs);
              })
              .catch(function(error){
                console.log(error);
              });


            }
          }
        }
      }
    }
  }
</script>

